@import '../base/variables.scss';
@import '../base/mixins';
@import './plan-event.scss';
@import '../elements/input.scss';
@import '../elements/input-select.scss';
@import '../elements/button-select.scss';
@import '../elements/switch.scss';
@import '../elements/button.scss';

:host {
  @include box-sizing;
  & .wrapper {
    height: 100%;
  }
  & .preplanner-container {
    height: inherit;
  }

  .preplanner-header {
    height: 60px;
    background: $white;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }

  & .preplanner-info {
    display: flex;
    align-items: flex-end;
    font-size: 16px;
    column-gap: 40px;
    &__company,
    &__room-name {
      text-transform: uppercase;
    }
    &__room-name {
      font-size: 12px;
    }
  }

  & .floor-plan-wrapper {
    height: 100%;
  }
  & .working-area-wrapper {
    height: 100%;
    position: relative;
    & .grid,
    & .floor-plan,
    & .floor-plan-sizes {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    & .grid {
      // z-index: 1;
      &.hide {
        display: none;
      }
    }
    & .floor-plan {
    }

    & svg {
      display: block;
    }

    & .svg-foreignObject {
      display: flex;
      align-items: center;
      // transform-origin: top right;

      & label {
        font-size: 12px;
      }
      &--length {
        flex-flow: row;
        column-gap: 8px;
      }
      &--width {
        flex-flow: column;
        row-gap: 4px;
      }
    }

    & .top-actions {
      position: absolute;
      top: 16px;
      right: 16px;
      z-index: 4;
      background: white;
      display: flex;
      align-items: center;
      column-gap: 16px;
      padding: 4px 8px;
      border-radius: 2px;
    }

    & .input-block {
      // position: relative;
      display: flex;
      align-items: center;
      & .svg-input {
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-sizing: border-box;
        border-radius: 2px;
        font-size: 12px;
        padding: 3px 22px 3px 6px;
        width: 58px;
        &:focus {
          border-color: #333;
          outline: none;
        }
      }
      & .postfix {
        font-size: 12px;
        margin-left: -20px;
        line-height: 27px;
      }
    }
  }
}
