@import '../base/variables.scss';

ttp-switch {
  & .switch-container {
    display: flex;
    align-items: center;
    column-gap: 8px;
    &__label {
      color: $switch-label-color;
      font-size: 12px;
      cursor: pointer;
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 13px;
    height: 8px;
    & input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    &__toggle {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: all 0.2s linear;
      border-radius: 4px;
      &:before {
        position: absolute;
        content: '';
        height: 8px;
        width: 8px;
        left: 0px;
        bottom: 0px;
        border-radius: 8px;
        background-color: $switch-toggle-circle-unchecked;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
        z-index: 2;
      }
      &:after {
        background-color: $switch-toggle-bar-bg;
        content: '';
        height: 2px;
        width: 13px;
        position: absolute;
        border-radius: 2px;
        left: 0;
        top: 3px;
        z-index: 1;
      }
    }
    & input:checked + .switch__toggle:before {
      background-color: $switch-toggle-circle-checked;
    }

    & input:focus:checked + .switch__toggle:before {
      box-shadow: 0 0 1px $switch-toggle-circle-checked;
    }

    & input:focus + .switch__toggle:before {
      box-shadow: 0 0 1px $switch-toggle-circle-focus-unchecked;
    }
    & input:checked + .switch__toggle:before {
      -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
      transform: translateX(5px);
    }
  }
}
